@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

@theme {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  --font-sans: "IBM", ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times, serif;
}

@layer base {
  html {
    @apply scroll-smooth text-[14px] leading-7 font-medium antialiased;
  }

  body {
    @apply bg-slate-900 font-sans text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    @apply font-bold;
  }

  a.underline-link {
    @apply text-slate-500 underline underline-offset-4;
  }

  * {
    @apply leading-normal [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-thumb]:bg-slate-500 [&::-webkit-scrollbar-track]:bg-slate-800;
  }
}
